* {
    margin: 0%;
    padding: 0%;
    font-family: monospace;
    box-sizing: border-box;
    font-size: 2vmin;
}

body {
    overflow: hidden;
}

/* de styling van de nav bar */
nav ul {
    position: fixed;
    top: 0;
    width: 100vw;
}

nav li {
    float: left;
    list-style-type: none;
    background-color: #426342;
}

nav a {
    
    color:#C8B1E8;
    font-size: 2.5vmin ;
    display: flex;
    width: 20vw;
    text-decoration: none;
    padding-top: 3vh;
    padding-bottom: 3vh;
    justify-content: center;
    background-color: #426342;
    transition: background-color 500ms ease, border-radius 350ms ease;
    
}

a:hover {
    background-color: #98bb98;
    border-radius: 2vmin;
    color: #61507A;
}

a:focus {
    background-color: #669966;
    border-radius: 2vmin;
}

/* de styling van de main */
main {
    overflow-y: scroll;
    position: absolute;
    top: 9vh;
    bottom: 6vh;
    width: 100vw;
    scrollbar-width: thin;
}

h1 {
    color: #61507A;
    font-size: 5vmin;
    font-weight: 700;
    width: 100%;
    text-align: center;
}

p, h2 {
    margin: 0 0 1vmin 2vmin;
}

main a {
    text-decoration: none;
    background-color: #C8B1E8;
    padding: 1vmin;
    color: #426342;
    border-radius: 2vmin;
    display: inline-block;
    margin: 1vh 0 2vh 2vmin;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 2vw;
 }
 
 ::-webkit-scrollbar-thumb {
     background: #C8B1E8;
     border-radius: 4vh;
 }
 
 ::-webkit-scrollbar-thumb:hover {
     background: #61507A;
 } 

/* de styling van de plaatjes */
main ul {
    display: grid;
    grid-template-columns: auto auto;
    gap: 7vw;
    justify-content: space-evenly;
}

main li {
    width: fit-content;
    display: grid;
    width: 35vmin;
    height: 35vmin;
    align-items: center;
    grid-template: 1fr / 1fr;
    transition: transform 1s ease, translate 1s ease;
}

main li > * {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}
main img {
    width: 35vmin;
    height: 35vmin;
    border-radius: 10vmin;
    object-fit: cover;
    justify-self: center;
    display: flex;   
    transition: border-radius 200ms ease;
}

main li p{
    opacity: 0;
    visibility: hidden;
    background-color: #61507a99;
    color: #98bb98;
    border-radius: 10vmin;
    height: 100%;
    width: 100%;
    transition: opacity 500ms ease;
    text-align: center;
    padding: 12vmin 2vmin 0 2vmin;
    margin: 0;
}

button {
    top: -100%;
    background: none;
    font-size: 0;
    border: none;
    width: 100%;
    height: 100%;
    font-weight: bold;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    color: #98bb98;
}

/* de functionaliteiten van plaatjes */
main li:focus-within:nth-child(odd) {
   transform: translate(24vw,20vh) scale(2,2);
}

main li:focus-within:nth-child(even) {
    transform: translate(-23vw,20vh) scale(2,2);
 }

main li:focus-within button:hover {
    background: none;
    font-size: 0;
}

main li:focus-within:hover p{
    visibility: visible;
    opacity: 1;
    border-radius: 2vmin;
}

main li:hover:focus-within button {
    background: none;
    font-size: 0;
}

main li:hover button {
    background-color: #61507a99;
    font-size: 5vw;
    height: 35vmin;
    width: 35vmin;
    border-radius: 10vmin;
}

main li:focus-within img{
    border-radius: 2vmin;
}

/* contact me plaatjes */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2vmin 7vmin 5vmin 7vmin;
    background-color: #98bb98;
    padding: 1vmin 0 1vmin 0;
    border-radius: 2vmin;
}

section img {
    border-radius: 5vmin;
    width: 20vw;
    height: 20vw;
    margin-left: 62vw;
}

/* styling van footer */
footer {
    position: fixed;
    bottom: 0;
    background-color: #61507A;
    color: #98bb98;
    width: 100vw;
    padding-bottom: 2vh;
    justify-content: center;
    display: flex;
    height: 6vh;
}

footer p {
    margin: 2.5vh 0 0 0;
}